@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*title*/

h1{
  color: #646cffaa;
   height: 6em;
  padding: 1.5em;
}
